.btn {
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ccc;
  }
  
  .btn.danger {
    background-color: tomato;
  }
  .btn.warning {
    background-color: yellowgreen;
  }
  .btn.default {
    background-color: #eee;
  }
  .btn.white {
    background-color: white;
    color: black;
  }
  .darkRed {
    background-color: darkred;
    color: white;
  }
  .red {
    background-color: red;
    color: white;
  }
  .orange {
    background-color: orange;
    color: black;
  }
  .yellow {
    background-color: yellow;
    color: black;
  }
  .green {
    background-color: green;
    color: white;
  }
  .turquoise {
    background-color: turquoise;
    color: black;
  }
  .indigo {
    background-color: indigo;
    color: white;
  }
  .purple {
    background-color: purple;
    color: white;
  }